html {
     font-family: 'poppins';
     font-size: 70%;
}

header{
    width: 100%;
    height: 75px;
    font-size: 1.6em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#logo{
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

    & a{
        text-decoration: none;
        font-weight: 500;
    }
}
nav{
    display: flex;
    flex-direction: row;
    gap: 24em;
    align-items: center;
}
.primary-nav{
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
    color: black;
    & a{
    color: black;
    }
   
}
.secondary-nav{
    list-style-type: none;
}

.s-nav{
    padding: 12px 20px;
    background: black;
    color: white;
    border-radius: 30px;
}
body{
    margin: 0;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 1em;
}


/* HERO SECTIONS */
.section1{ 
    width: 100%;
    height: 550px;
    display: flex;
    gap: 1em;
    margin: 0;
    margin-top: 1em;
}
/*left-columns */

.left-col{
    border-radius: 2em;
    padding: 4em;
    background:rgb(20, 20, 20);
    height: 452px;

}
.left-col p{
    margin: 0;
    text-transform: uppercase;
    color: white;
}


h1{ 
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
    color: white;
    margin-top: 10px;   
}

.hero-card{
    background: white;
    border-radius: .9em;
    padding:2em;
    width: 170px;
    display: flex;
    align-items: center ;
    justify-content: space-between; 
    position: relative;
} 
.hero-card a {
    text-decoration: none;
    margin: 0;
    color: black;
    font-weight:bold;
    font-size: 1.2rem;
    padding: 10px;
}

.hero-card p {
    margin: 0;
    color: grey; 
    font-size: .9rem ;
    padding: 10px;
   }

.herocard{
display:grid;
grid-auto-rows: 68px;
grid-row-gap: 30em;

}

.carticon{
    margin: 0;
    transform: scaleX(-1);
}


/*right column*/

.right-col{
    flex-grow: 1;
    display: grid;
    gap:  1.2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "right right"
    "left  left";
    & .card p{
        font-size: 1.2em;
        font-weight: 500;
    }
}

.card{
    border-radius: 2em;
    padding: 15px;
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 12em;    
} 

.card1{
    background-size: 130%;
    grid-area: right;
    background-image: url('../images/image1.jpg');
    transition: background-size 800ms;
    box-shadow: 2px 4px 10px 1px rgba(207, 207, 207, 0.596);

}

.card1:hover{
    background-size: 135%;
}

.card a {
    text-decoration: none;
    margin: 0;
    font-size: 35px;
    font-weight: 800px;
}
.card p{
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.card2{
    width: 280px;
    height: 225px;
    background: #b286fd;
    box-shadow: 2px 4px 10px 0px rgba(207, 207, 207, 0.596);

}
.card3{
    width: 280px;
    height: 225px;
    background: #b1f042;
    box-shadow: 2px 4px 10px 0px rgba(207, 207, 207, 0.596);

    
}

.title1, .title3 {  color: black;} 
.title2 {  color: white;} 

.card1, .card2, .card3 {
    position: relative;
} 

.righticon {
    position: absolute;
    margin: 0;
    width: 40px;
    height: 40px;
    top: 15px;
    right:10px ;
}


.righticon1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right:10px ;
}
.righticon2 {
    position: absolute;
    width: 50px;
    height: 500px;
    top: 15px;
    right: 10px;
}

